---
title: "Cartographic generalization"
description: "Get to know and play with different methods of cartographic generalization."
date: 2018-05-19
tags: map design generalization generalisation selection simplification smoothing aggregation collapse exaggeration displacement classification
references:
  - author: "Wikipedia"
    title: "Cartographic generalization"
    date: May 2018
    link: https://en.wikipedia.org/wiki/Cartographic_generalization
  - author: "ESRI, Inc"
    title: "Automation of Map Generalization"
    date: May 1996
    link: http://downloads.esri.com/support/whitepapers/ao_/mapgen.pdf
  - author: "Schweizerische Gesellschaft für Kartografie SGK"
    title: "Cartographic Generalization"
    date: 1987
    link: http://kartografie.ch/publikationen/sgk-publikationen/
foot_additional: >
  <script src="{{ 'generalization.js' | prepend: page.url | absolute_url }}"></script>
methods:
  - name: "selection"
    description: "reduces the number of features by deleting features that are small or insignificant."
  - name: "simplification"
    description: "reduces unnecessary details by simplifying or abstrating shapes."
  - name: "smoothing"
    description: "refines and smooths geometries to make them more aesthetically pleasing."
  - name: "aggregation"
    description: "combines close features of the same type to a cluster."
  - name: "collapse"
    description: "reduces a features dimension and spatial extent."
  - name: "exaggeration"
    description: "increases the spatial extent of important and significant features."
  - name: "displacement"
    description: "resolves conflicts like overlaps by repositioning features."
  - name: "classification"
    description: "groups features into a new graphical representation."
---

<div class="row">
  <div class="col">
    <p><em>Cartographic generalization</em> or <em>map generalization</em> is the process of graphically reducing information from reality or larger scaled maps to display only the information that is necessary at a specific scale.</p>
    <p>A map is always a smaller scaled representation of reality, thus it has to choose what features and how they are represented at a given scalen taken into account the needs of the map users, the geographical data with its attributes and the readability of the map.</p>
  </div>
</div>

<h2 class="mt-5">Methods</h2>
<hr>
<p>There are a lot of different methods that belong to cartographic generalization of which only a few are presented here.</p>
<div class="row">
  {% for method in page.methods %}
  <div class="col-md-6 mb-4">
    <h4>{{ method.name | capitalize }}</h4>
    {% include_relative methods/{{ method.name }}.svg class="img-fluid mx-auto d-block m-3" %}
    <p><strong>{{ method.name | capitalize }}</strong> {{ method.description }}</p>
  </div>
  {% endfor %}
</div>

<h2 class="mt-5">Hands-On</h2>
<hr>

<div class="container mw-900">
  <p>Change the abstracted map by choosing above, which generalization methods to apply to it.</p>
  <div class="card shadow">
    <div class="card-header h5">
      Cartographic generalization
    </div>
    <div class="card-body pb-2">
      <div class="row mx-0" id="generalization-toggles"></div>
    </div>
    {% include_relative generalization.svg class="card-img-bottom border-top bg-info" %}
  </div>
</div>
